body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.LayoutTable {
    display: flex;
    flex-direction: column;
}

.LayoutTable-row {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
}

.LayoutTable-cell {
    flex: 1 1 0px;
    display: block;

    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    margin: 2px;
}